.wrapper
  = render 'shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %p.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          Member : 
          %li.main-header__left-box__member-list__member
            -# - users.each do |user|
            -#   = @group.user
            -# = @group.user
      = link_to edit_group_path(@group) do
        .main-header__edit-btn
          Edit
    .messages
      = render partial: 'message', collection: @messages
            
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn' 

    -# .form
    -#   %form{action: "/", method: "post"}
    -#     .input-box
    -#       %input{class: "input-box__text",placeholder: "type a message", type: "text"}
    -#       %label.input-box__image
    -#         %i.fa.fa-image
    -#         %input{class: "input-box__image__file",type: "file"}
    -#     %input{class: "submit-btn", type:"submit", value:"Send"}