.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path do
            %i.fa.fa-edit
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .groups
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "EDITlink" do
        .group
          .group__group-name
            = group.name
          .group__latest-message
            = group.show_last_message